<div class="modal-body">
  <form>
    <div class="row">
      <div class="small-12">

        <div class="row">
          <div class="small-4 columns">
            <label for="new-account-email" class="right inline">{{i18n account.create.email.label}}</label>
          </div>
          <div class="small-8 columns">
            {{view Merkredo.TextField valueBinding="view.accountEmail" placeholderKey="account.create.email.placeholder" elementId="new-account-email" autofocus="autofocus"}}
            <p>{{view Merkredo.InputTipView validationBinding="view.emailValidation"}}</p>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <label for="new-account-password" class="right inline">{{i18n account.create.password.label}}</label>
          </div>
          <div class="small-8 columns">
            {{view Merkredo.TextField valueBinding="view.accountPassword" type="password" elementId="new-account-password" placeholderKey="account.create.password.placeholder"}}
            <p>{{view Merkredo.InputTipView validationBinding="view.passwordValidation"}}</p>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <label for="new-account-password-confirmation" class="right inline">{{i18n account.create.password_confirmation.label}}</label>
          </div>
          <div class="small-8 columns">
            {{view Merkredo.TextField valueBinding="view.accountPasswordConfirmation" type="password" elementId="new-account-password-confirmation" placeholderKey="account.create.password_confirmation.placeholder"}}
            <p>{{view Merkredo.InputTipView validationBinding="view.passwordConfirmValidation"}}</p>
          </div>
        </div>

      </div>
    </div>
  </form>

  <hr />

  <button href="#" class="button radius" {{bindAttr disabled="view.submitDisabled"}} {{action createAccount target="view"}}>{{i18n account.create.action.default}}</button>
</div>