<nav id="header">
  <h5>Merkredo</h5>

  <ul class="inline-list right account-info">
    <li>
        <i class="icon-user icon-2x"></i>
    </li>
    <li>
      {{#if view.currentAccount.fullName }}
        {{view.currentAccount.fullName}}
      {{else}}
        <em>{{i18n header.no_name}}</em>
      {{/if}}
      {{view.currentAccount.email}}
    </li>
    <li>
      <a href="#" data-dropdown="account-dropdown">
        <i class="icon-cog icon-large"></i>
      </a>
    </li>
  </ul>

  <ul id="account-dropdown" class="f-dropdown" data-dropdown-content>
    <li><a href="#" {{action logout target="Merkredo"}}>{{i18n header.logout}}</a></li>
  </ul>
</nav>
